<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <title>Sound Pic</title>
</head>
<body >
  <%= yield %>
  <script src="/js/spotify-web-api.js"></script>
  <script src="/js/tommy-lib.js"></script>
  <script src="/js/lyrichelper.js"></script>
  <script src="/js/soundpic.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
