
<form action="">
  <input type="text" name="atist" id="artist" placeholder="Artist">
  <input type="text" name="song" id="song" placeholder="Song">
  <input type="submit" value="search">
</form>
<div id="selection">
  
</div>
<br><br>
<div id="player-wrapper">
  <iframe id="player" src="" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>
